openapi: 3.2.0
info:
  title: Soundcharts Album API
  description: REST API for the Soundcharts music-market intelligence platform. Provides standardized metadata and real-time and historical performance data for artists, songs, albums, and playlists across streaming, social, chart, and radio sources. Requests are authenticated with the x-app-id and x-api-key headers.
  termsOfService: https://soundcharts.com/en/terms
  contact:
    name: Soundcharts API Support
    url: https://developers.soundcharts.com/api/v2/doc
  version: '2.0'
servers:
- url: https://customer.api.soundcharts.com
security:
- AppId: []
  ApiKey: []
tags:
- name: Album
paths:
  /api/v2/album/by-uuid/{uuid}:
    get:
      operationId: getAlbumMetadata
      tags:
      - Album
      summary: Get album metadata
      description: Retrieve standardized album metadata by UUID.
      parameters:
      - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          description: Album metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v2/album/by-upc/{upc}:
    get:
      operationId: getAlbumByUpc
      tags:
      - Album
      summary: Get album by UPC
      description: Resolve an album by its UPC code.
      parameters:
      - name: upc
        in: path
        required: true
        description: Universal Product Code.
        schema:
          type: string
      responses:
        '200':
          description: Album metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v2/album/by-platform/{platform}/{identifier}:
    get:
      operationId: getAlbumByPlatformId
      tags:
      - Album
      summary: Get album by platform identifier
      description: Resolve an album by a platform identifier.
      parameters:
      - $ref: '#/components/parameters/Platform'
      - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: Album metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumResponse'
  /api/v2.26/album/{uuid}/tracks:
    get:
      operationId: getAlbumTracks
      tags:
      - Album
      summary: Get album tracklisting
      description: List the tracks contained in an album.
      parameters:
      - $ref: '#/components/parameters/Uuid'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Album tracklisting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SongListResponse'
components:
  schemas:
    AlbumResponse:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/Album'
    Song:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        name:
          type: string
        isrc:
          type:
          - object
          - 'null'
          properties:
            value:
              type: string
            countryCode:
              type: string
        creditName:
          type:
          - string
          - 'null'
        releaseDate:
          type:
          - string
          - 'null'
          format: date-time
        duration:
          type:
          - integer
          - 'null'
        artists:
          type: array
          items:
            $ref: '#/components/schemas/Artist'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              code:
                type: integer
              message:
                type: string
    SongListResponse:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        related:
          $ref: '#/components/schemas/Related'
        items:
          type: array
          items:
            $ref: '#/components/schemas/Song'
    Page:
      type: object
      properties:
        offset:
          type: integer
        limit:
          type: integer
        total:
          type: integer
    Album:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        name:
          type: string
        type:
          type:
          - string
          - 'null'
        upc:
          type:
          - string
          - 'null'
        releaseDate:
          type:
          - string
          - 'null'
          format: date-time
        label:
          type:
          - string
          - 'null'
        artists:
          type: array
          items:
            $ref: '#/components/schemas/Artist'
    Related:
      type: object
      properties:
        self:
          type: string
        previous:
          type:
          - string
          - 'null'
        next:
          type:
          - string
          - 'null'
    Artist:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        slug:
          type: string
        name:
          type: string
        appUrl:
          type: string
        imageUrl:
          type:
          - string
          - 'null'
        countryCode:
          type:
          - string
          - 'null'
        gender:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        biography:
          type:
          - string
          - 'null'
        isni:
          type:
          - string
          - 'null'
        ipi:
          type:
          - string
          - 'null'
        genres:
          type: array
          items:
            type: object
            properties:
              root:
                type: string
              sub:
                type: array
                items:
                  type: string
  responses:
    NotFound:
      description: Entity not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    Offset:
      name: offset
      in: query
      required: false
      description: Pagination offset.
      schema:
        type: integer
        default: 0
    Identifier:
      name: identifier
      in: path
      required: true
      description: Platform-specific identifier for the entity.
      schema:
        type: string
    Uuid:
      name: uuid
      in: path
      required: true
      description: Soundcharts entity UUID.
      schema:
        type: string
        format: uuid
    Platform:
      name: platform
      in: path
      required: true
      description: Platform slug (e.g. spotify, apple-music, youtube, instagram, tiktok).
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      description: Maximum number of items to return.
      schema:
        type: integer
        default: 100
  securitySchemes:
    AppId:
      type: apiKey
      in: header
      name: x-app-id
      description: Soundcharts application identifier.
    ApiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Soundcharts API key.
